/**/
*{
    box-sizing: border-box;
    margin: 0;
}

/**/
body{
    margin: 0;
}

/**/
h1{
    font-size: 3.5 em;
}

h2{
    font-size: 2.7 em;
}

h3{
    font-size: 2 em;
}

p{
    font-size: 1.em;
}

ul{
    list-style: none;
}

 /**/
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: black;
    background-color: red;
 }

button:hover{
    background-color: yellow;
}

.color-acento{
    color: red;
}

/**/
.container{
    max-width: 1400px;
    margin: auto;
}

.header{
    background: url(../images/fondo3.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;

    
}

    /**/
    .menu{
       /* background: #4C3A51;
        background: rgb(76, 58, 81);*/
        background: rgba(0, 0, 0, .1);

        display: flex;
        flex-flow: row nowrap;

        height: 60px;

        align-items: center;

        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

        /**/
        .logo{
            /*background: #774360;
            background: rgb(119, 67, 96);*/

            flex: 1 1 auto;

            /*height: 30px;*/

            
        }
            .logo a{
                color: #fff;
                font-size: 30px;
                font-family: bold;
            }
            .logo a:hover{
                /*background-color: purple;*/
                color: yellow;
            }

        /**/
        .nav{
            /*background: #774360;
            background: rgb(119, 67, 96);*/

            flex: 1 1 auto;

            /*height: 30px;*/
        }
            .nav a{
                color: #fff;
                font-family: bold;
            }
            .nav a:hover{
                /*background-color: purple;*/
                color: yellow;
            }

/**/
/*header{
    background:rgb(24, 20, 18);
    color: white;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: w;
}

header a:hover{
    color: red;*/


/**/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../images/fondo3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#informacion{
    
}


#informacion .container{
    text-align: center;
    padding: 60px 12px;

}

#metaforas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

    #metaforas .container{
        padding: 150px 12px;
    }

    #metaforas h2{
        margin-top: 0;
        font-size: 3em;
    }

    #metaforas p{
        display: none;
    }

    #metaforas .metafora{
        background-position: center center;
        background-size: cover;
        padding: 50px;
        margin: 20px;
        border-radius: 15px;
    }

    .metafora:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../images/atencion1.jpg);
        
    }

    .metafora:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../images/atencion2.jpg);
        
    }

    .metafora:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../images/atencion3.jpg);
        
    }

    #redes{
        background-color: rgb(30, 30, 30);
        color: white;
        text-align: center;
    }
    
        #redes .container{
            padding: 150px 12px;
        }
    
        #redes h2{
            margin-top: 0;
            font-size: 3em;
        }
    
        #redes p{
            display: none;
        }
    
        #redes .contacto{
            background-position: center center;
            background-size: cover;
            padding: 50px;
            margin: 20px;
            border-radius: 15px;
        }
    
        .contacto:first-child{
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url(../images/fondo3.jpg);
            
        }
    
        .contacto:nth-child(2){
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url(../images/fondo3.jpg);
            
        }
    
        .contacto:nth-child(3){
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
            )
            ,url(../images/fondo3.jpg);
            
        }
    
#pedido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(30, 30, 30);
        color: white;
        height: 80vh;
    }

#pedido h2{
    font-size: 9vw;
}    

#pedido button{
    font-size: 5vw;
}

footer{
    background-color: rgb(30, 30, 30);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(0, 0, 0);
}

footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: bold;
}

/**/
@media (min-width: 720px){
    header .container{
        flex-direction: row;
    }

    header nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 25px;
    }

    header a{
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color:black;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }    

    #informacion .container{
        display: flex;
        justify-content: center;
    }

    #informacion .informacion-texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #informacion h2{
        margin-top: 0px;
    }
    #informacion .img-container{
        background-image: url(../images/ubicacion.png);
        background-size: cover;
        background-position: center center;
        height:  500px;
        width: 400px;
    }
    #informacion .img-container1{
        background-image: url(../images/comida1.jpg);
        background-size: cover;
        background-position: center center;
        height:  500px;
        width: 400px;
    }

    #informacion .img-container2{
        background-image: url(../images/comida2.jpg);
        background-size: cover;
        background-position: center center;
        height:  500px;
        width: 400px;
    }
    #informacion .img-container3{
        background-image: url(../images/comida2.png);
        background-size: cover;
        background-position: center center;
        height:  500px;
        width: 400px;
    }
    #informacion .img-container4{
        background-image: url(../images/comida3.jpg);
        background-size: cover;
        background-position: center center;
        height:  500px;
        width: 400px;
    }
    #informacion .img-container5{
        background-image: url(../images/comida5.jpg);
        background-size: cover;
        background-position: center center;
        height:  500px;
        width: 400px;
    }

    #metaforas .metafora{
        display: flex;
        justify-content: center;
    }

    #metaforas p{
        display: block;
        margin-top: 30px;
    }

    #metaforas h3{
        margin-top: 0;
    }
    #metofaras .metafora{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no repeat;
        background-position-y: 0;
        background-color: black;
        box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.5);
    }
    .metafora:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../images/atencion1.jpg);
        
    }

    .metafora:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../images/atencion2.jpg);
        
    }

    .metafora:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(../images/atencion3.jpg);
        
    }
    
}

